@import './styles/variables';
@import './styles/mixins';

.app-container {
  @include flex-column;
  min-height: 100vh;
  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--text-primary);
}

.content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  
  @media (max-width: 980px) {
    @include flex-column;
  }
}